.swagger-ui {

  font-family: "Source Code Pro", "monospace" !important;

  section, button, .opblock-get, .model-container {
    pointer-events: all !important;
    // z-index: 100 !important;
    // position: relative !important;
  }

  & * {
    font-family: "Source Code Pro", "monospace" !important;
  }

  .info {
    margin-top: 0;

    .title {
      color: var(--primary);
    }
  }

  .wrapper {

    & > section > div > span:nth-last-of-type(1) > div {
      margin-bottom: 5rem;
    }

    .opblock-tag {

      cursor: url("/pointer-sm.png"), pointer !important;

      &-section {
        margin-bottom: 1rem;
      }
    }
  
    .opblock.opblock-get {
      border-color: var(--primary);
      background-color: transparent;

      .opblock {

        &-summary {
          border-color: var(--primary);
    
          &-method {
            background-color: var(--primary);
          }
        }
      }
  
      .tab-header {
        .tab-item.active {
          h4 {
            span:after {
              background-color: var(--accent);
            }
          }
        }
      }
    }
  
    .btn.execute {
      background-color: var(--accent);
      border-color: var(--accent);
      color: #3b4151
    }
  }
}

@media (max-width: 834px) {
	.swagger-ui {

    .opblock-tag {
      flex-direction: column;
      align-items: flex-start;
    }

    .opblock {

      .opblock-summary {
        
        &-path {
          max-width: max-content;
        }

        &-get {
          overflow-x: scroll;
        }
      }
    }

    .servers {
      max-width: 70vw;
      width: 100%;
    }
  }
}