.swagger-ui {

  .info {
    margin-top: 0;

    .title {
      color: var(--primary);
    }
  }

  .opblock.opblock-get {
    border-color: var(--primary);
    background-color: transparent;

    .opblock-summary {
      border-color: var(--primary);

      &-method {
        background-color: var(--primary);
      }
    }

    .tab-header {
      .tab-item.active {
        h4 {
          span:after {
            background-color: var(--secondary);
          }
        }
      }
    }
  }

  .btn.execute {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #3b4151
  }
}