html {
	scroll-behavior: smooth;
	// --primary: #ACACE6;
	--primary: #00BFFF;
	// --primary: #73C2FB;
	--primary-alpha: rgba(0, 191, 255, 0.1);
	// --primary: #623CEA;
	--secondary: #FEFE33;
	--bg-color: #404a4f;
	// --bg-color: #B0BABF;
	// --bg-color: #E9ECED;
	// --bg-color: #d2d8da;
	// --bg-color: #bbc4c7;
	// --bg-color: #a6afb3;
}

body {
	background-color: var(--bg-color);
}

.hover-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}


@keyframes typeFlicker {
  0% {
		color: var(--primary);
	}
  50% {
		color: white;
	}
}


@media (min-device-width: 1200px) {
	.hover-container {

			&::before {
			--size: 0;
			content: '';
			position: absolute;
			left: var(--x);
			top: var(--y);
			width: var(--size);
			height: var(--size);
			background: radial-gradient(circle closest-side, rgba(238, 130, 238, 0.2) 0%, rgba(0, 0, 255, 0.2) 33%, rgba(0, 255, 255, 0.2) 66%, rgba(255,255,255,0) 100%);
			transform: translate(-50%, -50%);
			transition: width .2s ease, height .2s ease;
		}
	
		&:hover::before {
			--size: 200px;
			z-index: -1
		}
	}
}