html {
	scroll-behavior: smooth;
	// --primary: #ACACE6;
	--primary: #4666FF;
	--accent: #FFA585;
	// --primary: #73C2FB;
	// --primary: #623CEA;
	--secondary: #FEFE33;
	// --bg-color: #B0BABF;
	// --bg-color: #E9ECED;
	// --bg-color: #d2d8da;
	// --bg-color: #bbc4c7;
	// --bg-color: #a6afb3;
	//TODO change pointer for auto
	cursor: url("/cursor.png"), auto;

	button, a, select {
		cursor: url("/pointer-sm.png"), pointer !important;
	}
}
// 1C05B3
// 0000CD
// 4666FF

body {
	background-color: var(--primary);
}

.hover-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
}

@keyframes typeFlicker {
  0% {
		color: var(--accent);
	}
  50% {
		color: white;
	}
}

@keyframes loader {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.5) rotate(180deg);
	}
	0% {
		transform: scale(1) rotate(360deg);
	}
}

@media (max-width: 1199px) {
	.hover-container {
		visibility: hidden;
	}
}

@media (min-device-width: 1200px) {
	//TODO make it show on the ResumeContainer
	.hover-container {

			&::before {
			pointer-events: none;
			z-index: 2;
			--size: 0;
			content: '';
			position: absolute;
			left: var(--x);
			top: var(--y);
			width: var(--size);
			height: var(--size);
			background: radial-gradient(circle closest-side, rgba(238, 130, 238, 0.25) 0%, rgba(0, 0, 255, 0.25) 33%, rgba(0, 255, 255, 0.25) 66%, rgba(255,255,255,0) 100%);
			transform: translate(-50%, -50%);
			transition: width .2s ease, height .2s ease;
		}
	
		&:hover::before {
			--size: 50px;
			z-index: -1
		}
	}
}

//TODO
//do the message thing
//finish adding things to Context