//TODO download the ones I'm using and import locally
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400&display=swap');

body {
  margin: 0;
	background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#domLoader {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 1s;
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Heebo", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 5rem;

  p {
    color: var(--accent);
    text-align: right;
    margin-right: 45vw;

    span {
      color: white;
    }
  }
}

.progressFade {
  visibility: hidden !important;
  opacity: 0 !important;
}

@media (max-width: 834px) {
  #domLoader {
    justify-content: center;
    p {
      margin-right: 0vw;
    }
  }
}